@model IEnumerable<exam_db.Models.Course>
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<link href="~/Content/courses.css" rel="stylesheet" />

<div class="container">
    <div class="courses_page" id="tabs">

        <h4 class="courses_page_title">Faculty of @ViewBag.CollegeName</h4>

        @* Main Taps *@
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id=" -tab" data-toggle="tab" href="#_@ViewBag.First.Id" role="tab" aria-controls="_@ViewBag.First.Id" aria-selected="true">@ViewBag.First.name</a>
            </li>
            @foreach (var dept in ViewBag.Departments)
            {

                <li class="nav-item">
                    <a class="nav-link" id=" -tab" data-toggle="tab" href="#_@dept.Id" role="tab" aria-controls="_@dept.Id" aria-selected="false">@dept.name</a>
                </li>
                
            }

        </ul>

        <!-- Taps Content -->
        <div class="tab-content" id="">

            <!-- University requirement content  -->
            <div class="tab-pane fade show active" id="_@ViewBag.First.Id">
                <div class="row">
                    @foreach (var course in ViewBag.listOfCourses)
                    {
                        <div class="col-md-6">

                            <a class="black_link no_decoration" href="@Url.Action("Course","Web",new {courseId =course.Id , CollegeName = ViewBag.CollegeName } )">
                                <div class="course_card">
                                    <div class="course_title">

                                        <h6 class="course_name">@course.name</h6>

                                        <span class="course_code">Code | @course.code</span>
                                    </div>

                                    <span class="course_items_number"><i class="fa fa-file-o"></i> @course.listOfFile.Count items</span>
                                </div>
                            </a>

                        </div>
                    }

                </div>

                <nav class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>

            @foreach (var department in ViewBag.Departments)
            {
                <div class="tab-pane fade" id="_@department.Id">

                    <div class="row">
                        @foreach (var course in department.listOfCourse)
                        {

                            <div class="col-md-6">
                                <a class="black_link no_decoration" href=" @Url.Action("Course", "Web", new { courseId = course.Id, CollegeName = ViewBag.CollegeName }) ">
                                    <div class="course_card">
                                        <div class="course_title">

                                            <h6 class="course_name">@course.name</h6>

                                            <span class="course_code">Code | @course.code</span>
                                        </div>

                                        <span class="course_items_number"><i class="fa fa-file-o"></i> @course.listOfFile.Count items</span>
                                    </div>  
                                </a>
                            </div>
                            }
                   
                    </div>
                        <nav class="pagination_nav">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                </div>
        
            }



        </div>


    </div>
</div>


@section scripts {

    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })

        

    function openTab() {
        var urlm = document.location.toString();
        console.log(url.split('#')[1]);
        //alert(url.split('#')[1]);
        var data = new Object();
        data.depid = urlm.split('#')[1];
        $.ajax({
            url:'@Url.Action("Getdept","Web")',
            type: 'GET',
            dataType: "json", 
            contentType: "application/json; charset=utf-8",
            data: urlm.split('#')[1],
            success: function (result) {
                 alert(result);
                
            },
             failure: function(response) {  
                    alert(response.responseText);  
                },  
                error: function(response) {  
                    alert(response.responseText);  
                }  
        });
        }
        
    </script>

}
