
<link href="~/Content/courses.css" rel="stylesheet" />
<style>

    .years_select_li {
        display: flex;
        align-items: center;
    }

        .years_select_li label {
            margin-right: 10px;
            margin-top: 5px;
            color: #8b9095;
            font-weight: 450;
        }

        .years_select_li select {
            padding-left: 15px;
            padding-right: 28px;
        }
</style>
<div class="container">
    <div class="courses_page">
        <h4 class="courses_page_title">@ViewBag.courseName</h4>
        
        @* Main Taps *@
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id=" -tab" data-toggle="tab" href="#exams" role="tab" aria-controls="exams" aria-selected="true">Exams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id=" -tab" data-toggle="tab" href="#quizs" role="tab" aria-controls="quizs" aria-selected="false">Quizs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id=" -tab" data-toggle="tab" href="#summaries" role="tab" aria-controls="summaries" aria-selected="false">Summaries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id=" -tab" data-toggle="tab" href="#others" role="tab" aria-controls="others" aria-selected="false">Others</a>
            </li>
            <li class="nav-item ml-auto years_select_li">
                <label>Years</label>
                <select class="custom-select custom-select-sm">
                    <option selected value="">2019</optionselected>
                    <option value="">2018</option>
                    <option value="">2017</option>
                </select>
            </li>
        </ul>
        <!-- Taps Content -->
        <div class="tab-content" id="">
            <!-- exams content  -->
            <div class="tab-pane fade show active" id="exams">
                <div class="row">
                    @foreach (var file in ViewBag.exams)
                    {
                        <div class="col-md-12">
                            <div class="item">
                                <div class="item_body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="item_img_and_info_holder">
                                                <div class="item_type_img_holder">
                                                    <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                                </div>
                                                <div class="item_info">
                                                    <a class="black_link no_decoration" href="~/Web/File">
                                                        <h6 class="item_title">@file.title</h6>
                                                    </a>
                                                    <span class="item_college">@ViewBag.CollegeName - <span>@ViewBag.departmentName</span></span>
                                                    <a class="black_link no_decoration" style="display:block" href="#">
                                                        <div class="item_owner">
                                                            <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                            <span class="item_owner_name">omar kishko</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item_statistics">
                                                <div class="statistic">
                                                    <i class="fa fa-heart"></i>@file.like_number
                                                </div>
                                                <div class="statistic">
                                                    <i class="fa fa-eye"></i> @file.view_numbre
                                                </div>
                                                <div class="statistic">
                                                    <i class="fa fa-download"></i> @file.Download_number
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item_date">@file.year</span>
                                </div>
                            </div>
                        </div>
                    }

                   
                </div>

                <nav class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>

            <!-- quizs content -->
            <div class="tab-pane fade" id="quizs">
                <div class="row">
                    @foreach (var file in ViewBag.Quizez)
                    {
                        <div class="col-md-12">
                            <div class="item">
                                <div class="item_body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="item_img_and_info_holder">
                                                <div class="item_type_img_holder">
                                                    <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                                </div>
                                                <div class="item_info">
                                                    <a class="black_link no_decoration" href="~/Web/File">
                                                        <h6 class="item_title">@file.title</h6>
                                                    </a>
                                                    <span class="item_college">@ViewBag.CollegeName - <span>@ViewBag.departmentName</span></span>
                                                    <a class="black_link no_decoration" style="display:block" href="#">
                                                        <div class="item_owner">
                                                            <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                            <span class="item_owner_name">omar kishko</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item_statistics">
                                                <div class="statistic">
                                                    <i class="fa fa-heart"></i>@file.like_number
                                                </div>
                                                <div class="statistic">
                                                    <i class="fa fa-eye"></i> @file.view_numbre
                                                </div>
                                                <div class="statistic">
                                                    <i class="fa fa-download"></i> @file.Download_number
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item_date">@file.year</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <nav class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>

            <!-- summaries content  -->
            <div class="tab-pane fade" id="summaries">
                <div class="row">
                    @foreach (var file in ViewBag.Summarieses)
                    {
                        <div class="col-md-12">
                            <div class="item">
                                <div class="item_body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="item_img_and_info_holder">
                                                <div class="item_type_img_holder">
                                                    <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                                </div>
                                                <div class="item_info">
                                                    <a class="black_link no_decoration" href="~/Web/File">
                                                        <h6 class="item_title">@file.title</h6>
                                                    </a>
                                                    <span class="item_college">@ViewBag.CollegeName - <span>@ViewBag.departmentName</span></span>
                                                    <a class="black_link no_decoration" style="display:block" href="#">
                                                        <div class="item_owner">
                                                            <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                            <span class="item_owner_name">omar kishko</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item_statistics">
                                                <div class="statistic">
                                                    <i class="fa fa-heart"></i>@file.like_number
                                                </div>
                                                <div class="statistic">
                                                    <i class="fa fa-eye"></i> @file.view_numbre
                                                </div>
                                                <div class="statistic">
                                                    <i class="fa fa-download"></i> @file.Download_number
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item_date">@file.year</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <nav class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>

            <!-- others content  -->
            <div class="tab-pane fade" id="others">
                <div class="row">
                    @foreach (var file in ViewBag.others)
                    {
                        <div class="col-md-12">
                            <div class="item">
                                <div class="item_body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="item_img_and_info_holder">
                                                <div class="item_type_img_holder">
                                                    <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                                </div>
                                                <div class="item_info">
                                                    <a class="black_link no_decoration" href="~/Web/File">
                                                        <h6 class="item_title">@file.title</h6>
                                                    </a>
                                                    <span class="item_college">@ViewBag.CollegeName - <span>@ViewBag.departmentName</span></span>
                                                    <a class="black_link no_decoration" style="display:block" href="#">
                                                        <div class="item_owner">
                                                            <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                            <span class="item_owner_name">omar kishko</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item_statistics">
                                                <div class="statistic">
                                                    <i class="fa fa-heart"></i>@file.like_number
                                                </div>
                                                <div class="statistic">
                                                    <i class="fa fa-eye"></i> @file.view_numbre
                                                </div>
                                                <div class="statistic">
                                                    <i class="fa fa-download"></i> @file.Download_number
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item_date">@file.year</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <nav class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>